button:focus{
  outline:none !important;
  }
  .card_product_title{
    margin-top: 15px;
    color: black;
    min-height: 48px;
    cursor: pointer;
    font-size: 0.9rem;
  }
.deals_title {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
}
.product_item_card:hover {
  transform: translateY(-5px) scale(1.015);
  box-shadow: 0 5px 12px rgb(126 142 177 / 20%);
  cursor: pointer;
}
.product_item_card {
  background: white;
  color: black !important;
  margin-bottom: 10px;
  padding-bottom: 15px;
  transition: all .25s ease;
}
/* .product_item_card a{
  color: black !important;
} */
a:hover{
  text-decoration: none;
}
.skeleton {
  width: 100%;
  padding: 0 5px
}
.skeleton .image,
.skeleton .line {
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
  );
  background-size: calc(320px + 100px);
  animation: refresh 2s infinite ease-out;
}
.skeleton .image {
  height: 200px;
}
.skeleton .line {
  height: 16px;
  margin-bottom: 8px;
}
.skeleton .line:first-child {
  width: 50%;
}
.skeleton .line:last-child {
  width: 80%;
}
.skeleton .line:nth-last-child(2) {
  width: 50%;
}
@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}

.wishlist_logo {
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.card_rating_box {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

/* product rating */

:root {
  --star-size: 20px;
  --star-color: lightgrey;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ///////////////// */
.current_price {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.product_price {
  display: inline-block;
  margin-left: 8px;
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
}
.price_off_per {
  display: inline-block;
  margin-left: 8px;
  color: #388e3c;
  font-size: 13px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

/* cart button */
.dedcription-btn {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background-color: white;
  color: #FF9F00;
  text-align: left;
  /* font-size: 18px; */
  padding: 5px 30px;
  transition: all 0.3s;
  padding-right: 40px;
  margin-top: 15px;
  border: 1px solid #FF9F00;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
.dedcription-btn .btn-icon {
  background-color: #FF9F00;
  width: 98px;
  height: 36px;
  float: right;
  position: absolute;
  border-radius: 3px;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
  
}
.name-descripeion {
  position: relative;
  z-index: 1;
}
.btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 34px solid white;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dedcription-btn:hover .btn-icon {
  width: 100%;
  border-radius: 3px;
  top: -1.5px;
}
.dedcription-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}
.btn-icon i {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #fff;
}
.dedcription-btn:hover {
  color: #fff!important;
}
/* .heart {
  background-color: #ff586b!important;
} */
.book {
  background-color: #00b7c4!important;
}
.brain {
  background-color:  #FF9F00 !important;
}

/* add cart */

.add-to-cart {
  --color: #fff;
  --icon: var(--color);
  --cart: #fff;
  --dots: #fff;
  --background: #FF9F00;
  width: 100%;
  --shadow: rgba(0, 9, 61, 0.16);
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
  line-height: 20px;
  transform: scale(var(--s, 0.97));
  box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);
  color: var(--color);
  background: var(--background);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 9px 10px;
  margin-top: 15px;
}
.add-to-cart .default {
  padding-left: 16px;
  position: relative;
  opacity: var(--o, 1);
  transform: scale(var(--s, 1));
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: var(--d, 0.3s);
}
.add-to-cart .default:before, .add-to-cart .default:after {
  content: "";
  width: 2px;
  height: 12px;
  left: 0;
  top: 4px;
  border-radius: 1px;
  background: var(--icon);
  position: absolute;
  transform: rotate(var(--r, 0deg));
  transition: transform 0.25s;
}
.add-to-cart .default:after {
  --r: 90deg;
}
.add-to-cart .success {
  opacity: var(--o, 0);
  transform: translate(-50%, var(--y, 12px));
  position: absolute;
  top: 12px;
  left: 50%;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: var(--d, 0s);
}
.add-to-cart .dots {
  width: 4px;
  height: 4px;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  border-radius: 2px;
  position: absolute;
  transform-origin: 10px 50%;
  background: var(--dots);
  box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  opacity: var(--o, 0);
  transform: scale(var(--s, 0.4));
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: var(--d, 0s);
}
.add-to-cart .cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.add-to-cart .cart:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background: var(--background);
  top: 17px;
  right: 100%;
  z-index: 1;
  margin-right: -20px;
  transform: translateX(-18px) rotate(-16deg);
}
.add-to-cart .cart > div {
  top: 13px;
  right: 100%;
  transform: translateX(-18px) rotate(-16deg);
  position: absolute;
  z-index: 2;
  transform-origin: 1px 21px;
}
.add-to-cart .cart > div:before, .add-to-cart .cart > div:after {
  content: "";
  position: absolute;
  top: var(--t, 4px);
  left: var(--l, 0);
  height: 2px;
  width: var(--w, 18px);
  background: var(--cart);
  border-radius: 1px;
}
.add-to-cart .cart > div:after {
  --w: 16px;
  --t: 14px;
  --l: 1px;
}
.add-to-cart .cart > div > div {
  width: 2px;
  height: var(--h, 15px);
  border-radius: 1px;
  transform: rotate(var(--r, -8deg));
  background: var(--cart);
  position: relative;
}
.add-to-cart .cart > div > div:before, .add-to-cart .cart > div > div:after {
  content: "";
  position: absolute;
  background: inherit;
}
.add-to-cart .cart > div > div:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: var(--b, -6px);
  left: var(--l, 0);
}
.add-to-cart .cart > div > div:first-child:before {
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 2px;
  width: 6px;
  transform-origin: 5px 1px;
  transform: rotate(16deg);
}
.add-to-cart .cart > div > div:last-child {
  --h: 12px;
  --r: 8deg;
  position: absolute;
  left: 16px;
  bottom: -1px;
}
.add-to-cart .cart > div > div:last-child:after {
  --l: -2px;
  --b: -5px;
}
.add-to-cart.added .default {
  --o: 0;
  --s: .8;
  --d: 0s;
}
.add-to-cart.added .default:before {
  --r: -180deg;
}
.add-to-cart.added .default:after {
  --r: -90deg;
}
.add-to-cart.added .dots {
  --o: 1;
  --s: 1;
  --d: .3s;
  -webkit-animation: dots 2s linear forwards;
          animation: dots 2s linear forwards;
}
.add-to-cart.added .success {
  --o: 1;
  --y: 0;
  --d: 1.8s;
}
.add-to-cart.added .cart:before, .add-to-cart.added .cart > div {
  -webkit-animation: cart 2s forwards;
          animation: cart 2s forwards;
}
.add-to-cart:not(.added):hover {
  --s: 1;
  --s-y: 8px;
  --s-b: 20px;
}
.add-to-cart:not(.added):active {
  --s: .94;
  --s-y: 2px;
  --s-b: 6px;
}

@-webkit-keyframes cart {
  41%, 49%, 57%, 60% {
    transform: translateX(110px) rotate(0deg);
  }
  40%, 47%, 54% {
    transform: translateX(110px) rotate(0deg) translateY(1px);
  }
  100% {
    transform: translateX(180px) rotate(-16deg);
  }
}

@keyframes cart {
  41%, 49%, 57%, 60% {
    transform: translateX(110px) rotate(0deg);
  }
  40%, 47%, 54% {
    transform: translateX(110px) rotate(0deg) translateY(1px);
  }
  100% {
    transform: translateX(280px) rotate(-16deg);
  }
}
@-webkit-keyframes dots {
  5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px) rotate(-32deg);
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%, 50% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%, 100% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%, 100% {
    opacity: 0;
  }
}
@keyframes dots {
  5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px) rotate(-32deg);
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%, 50% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%, 100% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%, 100% {
    opacity: 0;
  }
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
body .dribbble img {
  display: block;
  height: 28px;
}
.twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}