.wishlist_container{
     padding: 30px 3%;
}
.wishlist_title{
    font-size: 2rem;
    font-weight: 500;
    color: #FF9F00;
}
.wishlist_count{
    font-size: 1.6rem;
    font-weight: 400;
    color: #282c3f;
}
.wishlist_cart_btn{
    width: 100%;
    background-color: #FF9F00;
    color: white;
    font-size: 14px;
}
.wishlist_cart_btn:hover{
    color: white;
}
.wishlist_remove{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    height: 24px;
    width: 24px;
    background-color: hsla(0,0%,100%,.6);
    border: 1.2px solid #d4d5d9;
    cursor: pointer;
    text-align: center;
}
.delete_logo{
    margin-top: 5px;
    margin-left: 8px;
    zoom: .7;
    width: 14px;
    height: 14px;
    color: grey;
    background-position: -1083px 0;
}