<div
  style="max-width: 600px; margin: 0px auto; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px; font-family: arial;">
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="background-color: rgb(94, 94, 94); text-align: center; margin-left: auto; margin-right: auto;">
          <h2><span style="color: white">E Com</span></h2>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="padding: 60px 70px; border-top: 1px solid rgba(0, 0, 0, 0.05);">
    <div>
      <H4>Hi,</H4>
      <p>Greetings!</p>
      <p>You are just a step away from accessing your E Com account</p>
      <p>We are sharing a verification code to access your account. The code is valid for 1 hour and usable only once.</p>
      <br/>
      <br/>
      <p>Your OTP: <b><%= code %></b></p>
        
      <p>Expires in: <b>1 hour</b></p>

      </p>
    </div>
    <h2>
      
    </h2>

    <div style="text-align: center; border-top: 1px solid rgba(0, 0, 0, 0.05); padding: 5% 0px;">
      <h4 style="margin-bottom: 10px; text-align: left;">Need Help?</h4>
      <div
        style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial; font-size: 16px; text-align: left;">
        <span
          style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial; font-size: 16px;">If
          this wasn't you, we recommend you suspend&nbsp;your account</span><span
          style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial; font-size: 16px;">&nbsp;immediately
          and contact&nbsp;</span><a href="mailto:support@ecom.com" target="_blank"
          style="background-color: rgb(255, 255, 255); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial; font-size: 16px;">support@ecom.com</a><span
          style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial; font-size: 16px;">&nbsp;to
          report this incident.</span>
      </div>
      <div
        style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial; font-size: 16px;">
        <div style="font-size: 16px; text-align: center;">&nbsp;</div>
        <div style="font-size: 16px; text-align: left;">For any other queries, reply directly to this email.</div>
        <div style="font-size: 16px; text-align: center;">&nbsp;</div>
        <div style="font-size: 16px; text-align: center;">&nbsp;</div>
        <div style="font-size: 16px; text-align: left;">Sincerely,</div>
        <div style="font-size: 16px; text-align: left;">The E Com Team</div>
      </div>
    </div>

  </div>
  <div style="text-align: center; background: rgb(242, 244, 248); padding: 8px; margin-top: 32px;">
    <div style="margin-bottom: 20px;"><a href="https://www.facebook.com/E Com.exchange/" target="_blank"
        style="display: inline-block; margin: 0px 10px; color: rgb(62, 75, 90);"><img
          src="https://terminal-files.E Com.com/static/img/emailers/facebook-logo.png" style="width: 20px;"></a><a
        href="https://www.linkedin.com/company/E Com/" target="_blank"
        style="display: inline-block; margin: 0px 10px; color: rgb(62, 75, 90);"><img
          src="https://terminal-files.E Com.com/static/img/emailers/linkedin-logo.png" style="width: 20px;"></a><a
        href="https://twitter.com/E Com" target="_blank"
        style="display: inline-block; margin: 0px 10px; color: rgb(62, 75, 90);"><img
          src="https://terminal-files.E Com.com/static/img/emailers/twitter-logo.png" style="width: 20px;"></a><a
        href="https://www.instagram.com/E Com.exchange/" target="_blank"
        style="display: inline-block; margin: 0px 10px; color: rgb(62, 75, 90);"><img
          src="https://terminal-files.E Com.com/static/img/emailers/instagram.png" style="width: 20px;"></a></div>
    <strong><span style="font-size: 12px;"><a href="https://support.E Com.com/" target="_blank"
          style="color: rgb(62, 75, 90);">Help
          Centre</a>&nbsp; &nbsp; &nbsp;<a href="mailto:hello@E Com.com" target="_blank"
          style="color: rgb(62, 75, 90);">Contact Us</a></span></strong>
  </div>
  <div
    style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: arial, helvetica, sans-serif; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(245, 246, 249); text-align: center;">
    <div style="padding: 44px 32px;">
      <p
        style="text-align: center; color: rgb(80, 92, 108); font-family: arial, helvetica, sans-serif; font-size: 12px; line-height: 1.2; padding-bottom: 16px;">
        You are receiving this email because you signed up for E Com.</p>
      <p
        style="text-align: center; color: rgb(80, 92, 108); font-family: arial, helvetica, sans-serif; font-size: 12px; line-height: 1.2; margin-bottom: 0px;">
        Copyright 2020 E Com AG. All rights reserved.</p>
    </div>
  </div>
</div>